
* {
    margin: 0;
    padding: 0;
}

/* Body Estilo */

body {
    background-color: black;
    background: url(../img/backgroundBody.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: rgb(203, 208, 216);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: azure;
}

/* Header - Estilo */

header {
    background-color: rgba(20, 31, 49, .8);
    padding: 1rem;
    margin-bottom: 2rem;
}

.hamburguerContainer {
    border: 1px solid rgba(203, 208, 216, 1);
}

.hamburguer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28203, 208, 216, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.menu {
    margin: 1rem;
}

.menu a {
    color: rgb(203, 208, 216);
    font-size: 1.4rem;
}

.submenu {
    background-color: rgba(20, 31, 49, 1);
}

.submenuDivider {
    border-top: 1px solid rgb(203, 208, 216) ;
}

.submenu a {
    font-size: 1.2rem;
}

.navbar {
    --bs-navbar-hover-color: rgb(211, 172, 43);
}

/* Header - Animaciones */

.logoHeader {
    transition: 300ms ease-in-out;
}

.logoHeader:hover {
    transform: scale(1.1);
}

.menu a, .submenu a {
    transition: 300ms ease-in-out;
}

.menu a:hover {
    color: rgb(211, 172, 43);
}

.submenu a:hover {
    color: rgb(211, 172, 43);
    background-color: rgb(51, 61, 81);
}


/* Contenedor Principal*/

.fondo {
    border-radius: 15px;
    background: rgb(20,31,49);
    background: linear-gradient(180deg, rgba(20,31,49,1) 77%, rgba(9,14,22,1) 100%);
    padding: 0;
}

/* Main - Contenedor*/

.main {
    background-color: #2b3344;
    border-radius: 15px;
    padding: 2rem 2rem 0 2rem;
}

/* Main - Estilo */

.mainSection, .mainDiv {
    margin: 2rem 0;
}

.main a {
    color: brown;
    font-size: 1.4rem;
    transition: 300ms ease-in-out;
}

.main a:hover {
    color: rgb(211, 172, 43);
}

.main ul {
    list-style: none;
}

.main ul li {
    margin: 2rem 0;
}

.carrusel {
    margin: 3rem 0;
}

.imgBorder {
    border: 1px solid #7e8694;
}

.imgContainer {
    width: 50%;
    margin: 3rem auto;
}

.imgContainer-chico {
    width: 30%;
    margin: 2rem auto;
}

/* Main - Iframe Responsive */

.main__videoContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin: 3rem auto;
}

.main__video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Main - Estilo y animacion article */

.article-fondo {
    background-color: rgba(20, 31, 49, .3);
    border-radius: 15px;
    padding: 1rem;
    --bs-gutter-y: 0;
}

article {
    padding: 1rem;
}

article img {
    margin: 1rem;
}

article div p {
    font-size: 1rem;
}

article {
    transform: scale(.9);
    transition: 200ms ease-in-out;
}

article:hover {
    background-color: rgba(20, 31, 49, .8);
    transform: scale(1);
}

/* Aside - Estilo y animacion*/

.aside {
    padding: 2rem 2rem 0 2rem;
}

.cortina {
    position: relative
}

.cortina img {
    margin: 2rem 0;
}

.cortinaTexto {
    position: absolute;
    inset: 0;
    font-size: 1.5rem;
    color: rgb(203, 208, 216);
    margin: 2rem 0;
    padding: 0 1rem;
    background-color: rgba(20, 31, 49, .4);
    opacity: 0;
}

.cortina img, .cortinaTexto {
    transition: 500ms ease-in-out;
}

.cortina:hover img.blur {
    filter: blur(1px);
}

.cortina:hover .cortinaTexto.fade {
    opacity: 1;
}

/* Footer - Estilo del contenido */

.footer {
    padding: 5rem 2rem;
}

.footer p, .footer ul {
    margin: 0;
}

.footer ul {
    list-style: none;
} 

.footer a {
    text-decoration: none;
    color: rgb(203, 208, 216);
    margin-bottom: .2rem;
}

.footer i {
    margin-right: .3rem;
}

.footer a:hover {
    text-decoration: underline;
    color: rgb(211, 172, 43);
}

.logoFooter {
    transition: 300ms ease-in-out;
}

.logoFooter:hover {
    transform: scale(1.2);
}

/* Media Queries */

@media only screen and (min-width:576px) {

    .fondo {
        margin-bottom: 2rem;
    }

    .main {
        padding: 3rem 3rem 0 3rem;
    }
    
    .aside {
        padding: 3rem 3rem 0 3rem;
    }
}

@media only screen and (min-width: 992px) {
    section p {
        font-size: 1.3rem;
    }
}