// Typography

$font_title: 'Merriweather', serif;
$font_text: 'Source Sans Pro', sans-serif;


// Colors

$color_title: azure;
$color_text: rgb(203, 208, 216);
$color_hover: rgb(211, 172, 43);
$color_link: brown;

// Borde Multimedia

$border: 1px solid #7e8694;

// Backgrounds

$bg_body: black;

$bg_opaque: rgba(20, 31, 49, 1);
$bg_transparent: rgba(20, 31, 49, .7);

$bg_secondary: rgba(43, 51, 68, 1);

