// Font family

$font_title: 'Merriweather', serif;
$font_text: 'Source Sans Pro', sans-serif;

// Font Weight

$weight_title: 700;
$weight_text: 600;

// Colors

$color_title: azure;
$color_title2:#8f2d56;
$color_text: rgb(203, 208, 216);
$color_hover: rgb(211, 172, 43);
$color_link: #9a031e;

// Borde Multimedia

$border: 1px solid #7e8694;

// Backgrounds

$bg_body: black;

$bg_opaque: rgba(20, 31, 49, 1);
$bg_transparent: rgba(20, 31, 49, .7);

$bg_secondary: rgba(43, 51, 68, 1);

