
body {
    // Body Background
    background-color: $bg_body;
    background: url(../img/backgroundBody.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    // Body Texto
    font-family: $font_text;
    font-weight: 600;
    color: $color_text;

    // Container Main + Aside + Footer
    .fondo {
        border-radius: 15px;
        background: $bg_opaque;
        background: linear-gradient(180deg, $bg_opaque 77%, $bg_body 100%);
        padding: 0;
    }
}



