// Footer Nesting

.footer {
    padding: 5rem 2rem;

    @media only screen and (min-width:map-get($breakpoints, sm)) {
        margin-bottom: 2rem;
    }

    p {
        margin: 0;
    }

    ul {
        margin: 0;
    }

    a {
        color: $color_text;
        margin-bottom: .2;

        &:hover {
            text-decoration: underline;
            color: $color_hover;
        }

        i {
            margin: auto .3rem;
        }
        
    }

    .logoFooter {
        @extend %animation-logo;
    }
}