// Image Containers

.imgContainer {
    width: 50%;
    margin: 3rem auto;
    border: $border;
}

.imgContainer-grande {
    width: 100%;
    border: $border;
}

.imgContainer-chico {
    width: 30%;
    margin: 2rem auto;
}