// Image Containers

.imgContainer {
    width: 95%;
    margin: 3rem auto 1rem auto;

    @media only screen and (min-width: map-get($breakpoints, lg)) {
        width: 80%;
    }

    @media only screen and (min-width: map-get($breakpoints, xl)) {
        width: 60%;
    }

    img {
        width: 100%;
    }
}

.imgContainer-grande {
    width: 95%;
    margin: 4rem auto 1rem auto;

    @media only screen and (min-width: map-get($breakpoints, lg)) {
        width: 85%;
    }

    img {
        width: 100%;
    }
}